<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>/html/admin.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>ServiceEndpoint</servlet-name>
		<servlet-class>com.viewer.endpoints.ServiceEndpoint</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>ViewEndpoint</servlet-name>
		<servlet-class>com.viewer.endpoints.Endpoint</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>AuthEndpoint</servlet-name>
		<servlet-class>com.viewer.endpoints.AuthEndpoint</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>AuthEndpoint</servlet-name>
		<url-pattern>/auth/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServiceEndpoint</servlet-name>
		<url-pattern>/services/*</url-pattern>
		
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ViewEndpoint</servlet-name>
		<url-pattern>/view/*</url-pattern>
		
	</servlet-mapping>

</web-app>